*~
*.DS_Store
*.swp
*.out

build/*
doc/javadoc/*
*.class
.metadata/

.project
.classpath
*.externalToolBuilders/*

# Some of my personal time-tracking and scheduling programs that don't need included
*.mm
*.gnumeric
